<div class="row m-5">
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <h1 class="text-center">FireChat</h1>
    <hr />
    <div class="col-md-12 text-right" *ngIf="chatService.user.uid">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="chatService.logout()"
      >
        Salir
      </button>
    </div>
    <app-login *ngIf="!chatService.user.uid"></app-login>
    <div class="chat-window" *ngIf="chatService.user.uid">
      <app-chat></app-chat>
    </div>
  </div>
</div>
